**/.vs/*
**/Binaries/*
**/Intermediate/*
/Project_424/Saved/Config/CrashReportClient/*
/Project_424/Saved/Logs/*
**/Autosaves/*
**/Backup/*
**/WorldState/*
**/Temp/*
**/Cooked/*
/Project_424/Saved/MaterialStatsDebug/
/Project_424/Saved/Shaders/
